<form method="post" action="{{ path('app_controle_douanier_delete', {'id_controle': controle_douanier.id_controle}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ controle_douanier.id_controle) }}">
    <button class="btn">Delete</button>
</form>
