{% extends 'base.html.twig' %}

{% block title %}Edit ControleDouanier{% endblock %}

{% block body %}
    <h1>Edit ControleDouanier</h1>

    {{ include('controle_douanier/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_controle_douanier_index') }}">back to list</a>

    {{ include('controle_douanier/_delete_form.html.twig') }}
{% endblock %}
